#login-header.page-header
  %h1 Login to ShopiDAV
  %h1
    %small Please enter your Shopify URL to log into ShopiDAV:

%div
  = form_tag '/login/authenticate', :class => 'form-search' do
    = text_field_tag 'shop', nil, :placeholder => 'Shop URL', :class => 'span5 btn-large'
    = submit_tag 'Login', :class => 'btn btn-primary btn-large'
