/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
*/

@import 'compass';
@import 'compass/css3';
@import 'compass/css3/images';

body * {
  font-family: "myriad-pro", sans-serif;
  font-size: 16px;
}

.navbar {

  img.brand {
    padding: 5px;
  }

  a.brand {
    padding: 10px 20px;
  }

  .nav > li > a {

    &:hover {
      color: #69D2E7 !important;
    }

    > i {
      margin-top: 2px;
    }
  }
}

.sidebar-nav.well {
  @include border-radius(5px);
  @include box-shadow(2px 2px 3px 0px rgba(0, 0, 0, 0.5));
  @include background-image(radial-gradient(50% 50%, #2a2a2a, #1d1d1d));

  background-color: #2a2a2a;
  border: none;

  margin-top: 37px;

  .nav {
    padding: 0;
    margin: 0;
  }

  .nav-header {
    @include single-text-shadow(rgba(255, 255, 255, 0.5), 1px, 1px, 1px);

    color: #fff;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;

    margin-top: 30px;
    margin-bottom: 5px;

    > i {
      margin-top: 4px;
    }

    &:first-child {
      margin-top: 0px;
    }
  }

  a {
    @include single-text-shadow(rgba(255, 255, 255, 0), 0px, 0px, 0px);

    color: #999;
    margin-left: 5px;

    &:hover {
      color: #69D2E7;
      background: transparent;
    }
  }
}

p.url {
  @include border-radius(5px);
  @include box-shadow(2px 2px 3px 0px rgba(0, 0, 0, 0.5));
  @include background-image(radial-gradient(50% 50%, #69D2E7, #A7DBD8));
  @include single-text-shadow(rgba(255, 255, 255, 0.5), 1px, 1px, 1px);

  background-color: #69D2E7;

  font-size: 24px;
  padding: 20px;
  margin: 10px 0px;
}

footer {
   @include background-image(radial-gradient(45px 45px, #2a2a2a, #1d1d1d));

   color: #999;

   p {
    margin: 5px;
   }
}
