/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
*/

@import 'compass';

body * {
  font-family: "myriad-pro", sans-serif;
  font-size: 16px;
}

.navbar {

  img.brand {
    padding: 5px;
  }

  a.brand {
    padding: 10px 20px;
  }

  .nav > li > a > i {
    margin-top: 2px;
  }
}

.sidebar-nav.well {
  @include border-radius(10px);
  @include single-box-shadow(rgba(0, 0, 0, 0.6), 2px, 2px, 6px);

  background-color: #0074CC;
  border: none;

  .nav {
    padding: 0;
    margin: 0;
  }

  .nav-header {
    @include single-text-shadow(rgba(0, 0, 0, 0.8), 1px, 1px, 1px);

    color: #fff;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
  }

  a {
    @include single-text-shadow(rgba(255, 255, 255, 0), 0px, 0px, 0px);

    color: #000;
  }
}
